*~
builds
TAGS
GPATH
GRTAGS
GTAGS
GTAGS.*
cscope.*
*.prof
*.out
__pycache__
.ipynb_checkpoints
*.pyc
Untitled*.ipynb
bull.cov
.tramp_history
*.swp
\#*
.#*
.*
*.xz
src/*.o
src/*.o.*
src/*.ko
src/*.mod
src/*.mod.c
src/Module.symvers
src/modules.builtin
src/modules.order
src/mpool_config.h
config/config.h*
config/*/Kbuild
config/*/Makefile
config/*/config.h
config/*/*.o
config/*/*.o.*
config/*/*.ko
config/*/*.mod
config/*/*.mod.c
config/*/Module.symvers
config/*/modules.builtin
config/*/modules.order
